*{
     margin: 0px;
     padding: 0px;
 }
 
 
 .jack{
    font-size: 4em;
    text-decoration: line-through;
    text-indent: 20px;
}

.navi{
    border: 1px solid black;
    border-style: none;
    width: 100vw;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    position: fixed;
    background-color: #48CFCB;
    color: white;
   
    }
    
    .jack a::hover{
        color: white;
    }
    .jack a{
        color: white;
        text-decoration: none;
    }
    
    .list ul{
   display: flex;
}

.list ul li{
    padding: 18px;
    list-style: none;
    font-size: 20px;
    align-items: center;  
   text-decoration: none;
    
}

.list ul li a:hover{
    color: black;
}

.list ul li a{
    color: black;
    text-decoration: none;
}

.ladies2{
 position: absolute;
 top: 16px;
 right: 118px;
}

a{
    font-weight: bolder;
    font-size: 1.1em;
}


